{{#if showButton}}
    <button class="koenig-plus-menu-button flex justify-center items-center relative w9 h9 ba b--midlightgrey-l2 bg-white br-100 anim-normal" {{action "openMenu"}}>{{svg-jar "plus" class="w4 h4 stroke-middarkgrey i-strokew--2"}}</button>
{{/if}}

{{#if showMenu}}
    {{!-- TODO: restructure HTML and update kg-style helper to avoid negative margins on divider/title elements --}}
    <div class="{{kg-style "cardmenu"}} pa0">
        {{!-- <div class="koenig-cardmenu-search">
            {{svg-jar "koenig/search"}}
            <input type="text" placeholder="Search for a card..." class="gh-input koenig-cardmenu-search-input">
        </div> --}}
        {{#each itemSections as |section sectionIndex|}}
            <div class="flex flex-column {{unless (eq sectionIndex 0) "mt4"}} mb4 nl4 nr4 pl4 pr4 bg-whitegrey midlightgrey ttu f-small fw4" style="min-width: calc(100% + 3.2rem);">
                {{section.title}}
            </div>
            {{#each section.items as |item|}}
                <div class="{{if item.selected "kg-cardmenu-card-selected"}} {{kg-style "cardmenu-card"}}" {{action "itemClicked" item on="click"}} data-kg="cardmenu-card">
                    <div class="{{kg-style "cardmenu-icon"}}">{{svg-jar item.icon class="w8 h8 stroke-midgrey"}}</div>
                    <div class="{{kg-style "cardmenu-label"}}">{{item.label}}</div>
                </div>
            {{/each}}
        {{/each}}
    </div>
{{/if}}