{{#koenig-card
    class="flex flex-column ba b--white kg-card-hover"
    isSelected=isSelected
    isEditing=isEditing
    selectCard=(action selectCard)
    onSelect=(action "onSelect")
    deselectCard=(action deselectCard)
    onDeselect=(action "onDeselect")
    editCard=(action editCard)
    toolbar=toolbar
    hasEditMode=false
    showSelectedOutline=payload.html
}}
    {{#if payload.html}}
        <div class="koenig-embed-{{payload.type}} flex justify-center">{{{payload.html}}}</div>
        <div class="koenig-card-click-overlay"></div>

        {{#if isSelected}}
          {{!-- TODO: caption input --}}
        {{/if}}
    {{else}}
        {{#if convertUrl.isRunning}}
            <div class="miw-100 pa2 ba br2 b--midlightgrey flex items-center justify-center bg-whitegrey-l2 f6 lh-title">
                &nbsp;<div class="spinner"></div>&nbsp;
            </div>
        {{else if hasError}}
            <div class="miw-100 flex flex-row pa2 ba br2 red-d3 bg-red-l3 f6 fw4 lh-title">
                <span class="mr2">There was an error when parsing the URL.</span>
                <button type="button" class="red-d3 mr2 fw6 underline" {{action "retry"}}>Retry.</button>
                <button type="button" class="red-d3 mr-auto fw6 underline" {{action "insertAsLink"}}>Paste URL as link</button>
                <button type="button" {{action deleteCard}}>
                    {{svg-jar "close" class="w3 fill-red-d3"}}
                </button>
            </div>
        {{else}}
            <input
                type="text"
                value={{payload.url}}
                placeholder="Paste URL to add embedded content..."
                class="miw-100 pa2 ba br2 b--midlightgrey f6 form-text lh-title"
                oninput={{action "updateUrl"}}
                onkeydown={{action "urlKeydown"}}>
        {{/if}}
    {{/if}}
{{/koenig-card}}
